* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* TYPE STYLES */

    /* Typefaces */
   
    @import url("https://p.typekit.net/p.css?s=1&k=lqy0tcq&ht=tk&f=10873.35365.35366.35369.35370&a=24603418&app=typekit&e=css");

    @font-face {
    font-family:"adonis-web";
    src:url("https://use.typekit.net/af/d99a65/000000000000000000010080/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d99a65/000000000000000000010080/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d99a65/000000000000000000010080/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
    
    @font-face {
    font-family:"brother-1816";
    src:url("https://use.typekit.net/af/69907d/00000000000000003b9b32e1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/69907d/00000000000000003b9b32e1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/69907d/00000000000000003b9b32e1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }
    
    @font-face {
    font-family:"brother-1816";
    src:url("https://use.typekit.net/af/5d27c7/00000000000000003b9b32e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/5d27c7/00000000000000003b9b32e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/5d27c7/00000000000000003b9b32e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }

    /* Header */
    h1 {
        font-family: "adonis-web", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 50px;
        color:#30836A;
        margin-bottom: 10px;
    }

    /* Section Title */
    h2 {
        font-family: "brother-1816", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        text-transform: uppercase;
        color: #303531;
    }

    /* Category Title */
    h3 {
        font-family: "brother-1816", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: #303531; 
    }

    /* Website Title */
    h4 {
        font-family: "adonis-web", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
        color:#30836A;
    }

    /* Footer Copywrite*/
    h5 {
        font-family: "brother-1816", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #737373;
    }

    /* Size Subhead(In Modal) */
    h6 {
        font-family: "brother-1816", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #BCC1BC;
    }

    /* Plant Description (In Modal) */
    h7 {
        font-family: "brother-1816", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        text-transform: uppercase;
        color:#30836A;
    }
    


    /* Body Type */
    p, span {
        font-family: "brother-1816", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: #303531;
    }



body {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

/* NAVIGATION STYLES */
    body .navbar {
        background-color: #F6F6F6;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        white-space: nowrap;
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 90;
    }

    .add-shadow {
        box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 5px 0px;
    }

    nav .nav-content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 80%;
    }
    
    nav img {
        width: 45px;
        height: 40px;
    }

    nav h4 {
        width: fit-content;
        margin: 0 60px 0 60px;
    }

    nav h4 a {
        font-family: "adonis-web", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
        color:#30836A;
        text-decoration: none;
        
    }

    ul {
        list-style-type: none;
        width: fit-content;
        min-width: fit-content;
        overflow: hidden;

    }

    li {
        display: inline-block;
        margin: 0 5px 0 5px;
    }

    li a {
        display: block;
        color: #303531; 
        font-family: "brother-1816", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        text-align: center;
        padding: 17px 20px;
        text-decoration: none;
    }

    li .active {
        border-bottom-style: solid;
        border-width: 5px;
        border-color: #30836A;
    }

    li a:hover {
        border-bottom-style: solid;
        border-color: #BCC1BC;
        border-width: 5px;
        cursor: pointer;
      }

    li a:visited {
        text-decoration: none;
    }

    nav .nav-cart {
        background-color: #D1E5CD;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 40px;
        height: 40px;
    }


    nav .nav-cart .shopping-bag {
        fill: #303531;
        width: 50%;
    }

    nav .nav-cart:hover {
        animation-name: hover;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
      
      @keyframes hover {
        0% {
          background-color: #D1E5CD;
        }
        100% {
          background-color: #FF8479;
        }
      }

/*  HAMBURGER NAV */

    .hamburger {
        display: none;
        margin-right: 20px;
    }

    .bar {
        display: block;
        width: 20px;
        height: 2px;
        margin: 6px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #303531;
    }


 /* MAIN - HEADER */

    main {
        width: 100%;
        background-color: #F6F6F6;
        height: 823px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    main .main-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 580px;
        margin: 0;
        border-left-style: solid;
        border-right-style: solid;
        border-width: 2px;
        border-color: #BCC1BC;
    }

    .main-container .main-text {
        width: 465px;
        height: fit-content;
        z-index: 50;
    }

    .main-container a {
        text-decoration: none;
    }


    .main-text p {
        width: 400px;
        margin: 0 0 60px 0;
    }

    /* Arrow Button  */

        .arrow-button {
            display: flex;
            flex-flow: row nowrap;
        }

        .arrow-button p {
            width: fit-content;
            margin: 0 100px  0 0;
        }

        .arrow-button div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D1E5CD;
            border-radius: 30px;
            width: 40px;
            height: 40px;
            margin-top: -3px;
        }

            
        .arrow-button:hover div {
            animation-name: hover;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }

        .arrow-button svg {
            position: absolute;
            fill: #303531;
            margin-left: -75px;
        }

        .main-img {
            min-width: 460px;
            height: 580px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D1E5CD;

        }

        .main-img img {
            position: absolute;
            width: 653px;
            height: 812px;
            margin: 0 0 -10px 0;
        }


/* HOMEPAGE CONTENT */

    .homepage-content {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    /* SHOP CATEGORIES */

        .category-container {
            width: fit-content;
            margin-top: 100px;
            display: flex;
            flex-flow: row nowrap;
        }

        .category-container h2 {
            position: absolute;
            margin-top: -45px;
        }

        .category-link {
            text-decoration: none;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
        }

        .category-long {
            background-color: #F6F6F6;
            width: 477px;
            height: 433px;
            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
        }

        .plant-category {
            width: 186px;
            height: 402px;
            margin-left: 100px;
            background-color: #D1E5CD;
        }

        .plant-category img {
            width: 305px;
            margin: -20px 0 0 -95px;
            transform: scaleX(-1);
        }

        .category-short-container {
            width: 477px;
            height: 433px;
            margin-left: 19px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
        }

        .category-short {
            background-color: #F6F6F6;
            width: 477px;
            height: 208px;
            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
        }

        .planters-category {
            width: 157px;
            height: 146px;
            background-color: #D1E5CD;
            margin: 0 30px 30px 0;
        }

        .planters-category img {
            transform: scaleX(-1);
            width: 158px;
            margin: -20px 0 0 -9px;
        }

        .category-long, .category-short {
            transition: .3s;
        }
        .category-long:hover, .category-short:hover {
            box-shadow: 0 0 7px rgba(33,33,33,.2); 
            cursor: pointer;
        }

        .category-long:hover .arrow-circle {
            animation-name: hover;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }

        .category-short:hover .arrow-circle {
            animation-name: hover;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
        }


        .arrow-category-1, .arrow-category-2 {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            margin: 0 0 15px 20px;
        }

        .arrow-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D1E5CD;
            border-radius: 30px;
            width: 40px;
            height: 40px;
            margin: 0 0 0 100px;
        }

        .arrow-category-1 svg {
            margin: 0 0 -28px -95px;
            z-index: 0;
        }

        .arrow-category-2 svg {
            margin: 0 0 -28px -45px;
            z-index: 0;
        }

        .arrow-category-2 .arrow-circle {
            margin: 0 0 0 150px;
        }
        
        .homegoods-category {
            width: 157px;
            height: 146px;
            background-color: #D1E5CD;
            margin: 0 30px 30px 0;
        }

        .homegoods-category img {
            width: 210px;
            margin: -30px 0 0 -20px;
        }


    /* FEATURED COLLECTION */
        
        
        .section-text {
            width: 973px;
            margin-top: 125px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
        }

        .section-text a {
            text-decoration: none;
        }

        .main-carousel {
            width: 973px;
            height: 390px;
            margin: 11px 0 0 0;
            padding: 0;
        }

        .main-carousel  a {text-decoration: none;}

        .carousel-cell {
            width: 291px;
            height: 400px;
            margin-right: 50px;
        }

        .carousel-cell:hover {cursor: pointer;}

        .slide-img {height: 344px;}

        .slide-img img {
            width: 291px;
        }

        .detail-box {
            height: 50px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        .overlay{
            transform: translate(0,-101%);
            width:100%;
            height: 344px;
            background-color: #30353180;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
        }
        .buy-btn{
            width:160px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D1E5CD;
            color: #303531;
            font-family: "brother-1816", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
        }
        .buy-btn:hover{
            color:#FFFFFF;
            background-color: #FF8479;
            transition: all ease 0.3s;
            border: none;
        }

        .slide-img:hover .overlay{
            visibility: visible;
            animation: fade 0.5s;
        }

        /* PRODUCT MODAL */

        button {
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          :root {
            --lightgray: #efefef;
            --white: #fff;
            --black: rgba(0, 0, 0, 0.5);
          }

          .btn-group {
            text-align: center;
          }
           
          .modal { 
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: right;
            background: var(--black);
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            transition: all 0.35s ease-in;
            z-index: 99;
          }

          .modal-dialog {
            width: 540px;
            height: 100vh;
            background: var(--white);
            overflow: auto;
            cursor: default;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
          }

          .modal-dialog > * {
            padding: 1rem;
          }

          .modal-content {
              width: 80%;
          }
          .item-info {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              margin: 50px 0 20px 0;
          }
          .modal-content p {
              width: 200px;
          }

          .modal-header,
          .modal-footer {
            background: #F6F6F6;
          }
           
          .modal-header {
            display: flex;
            width: 100%;
            justify-content: flex-end;
          }
           
          .modal-header .modal-close {
            font-size: 1.5rem;
          }
           
          .modal p + p {
            margin-top: 1rem;
          }

          .modal {
            visibility: hidden;
            opacity: 0;
            transition: all 0.35s ease-in;
          }
           
          .modal.is-visible {
            visibility: visible;
            opacity: 1;
          }

          .carousel {
              margin-top: 20px;
              width: 386.4px; 
              
          }

            .carousel .carousel-cell {
                width: 100%;
            }

          .carousel img {
            width: 386.4px; 
            
          }

          .product-description p {
              margin: 20px 0 25px 0;
              width: 100%;
          }

          .sold-out {
              width: 100%;
              height: 60px;
              margin-top: 20px;
              background-color: #DADADA;
              display: flex;
              flex-direction: row nowrap;
              justify-content: center;
              align-items: center;
          }

          .sold-out p {
              width: fit-content;
              color: #fff;
              cursor: pointer;
          }

          /* PLANT SIZE MENU */

        .size-select {
            background-color: #fff;
            position: relative;
            width: 10%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin: 0 0 -9px 20px;
            z-index: 99;
            
        }

        .select-wrapper {
            position: relative;
            user-select: none;
            width: 100%;

       }
        .select {
            position: relative;
            display: flex;
            flex-direction: column;
            border-width: 0 1px 0 1px;
            border-style: solid;
            border-color: #BCC1BC;
   
       }
        .select__trigger {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 22px;
            color: #3b3b3b;
            height: 60px;
            line-height: 60px;
            background: #ffffff;
            cursor: pointer;
            border-width: 1px 0 1px 0;
            border-style: solid;
            border-color: #BCC1BC;
           
        
       }
        .custom-options {
            position: absolute;
            margin-left: -1px;
            display: block;
            width: 386.4px;
            top: 100%;
            border: 1px solid #BCC1BC;
            border-top: 0;
            background: #fff;
            transition: all 0.5s;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: 2;
       }
        .select.open .custom-options {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
       }
        .custom-option {
            position: relative;
            display: block;
            padding: 0 22px 0 22px;
            color: #3b3b3b;
            line-height: 60px;
            cursor: pointer;
            transition: all 0.5s;
       }
        .custom-option:hover {
            cursor: pointer;
            background-color: #b2b2b2;
       }
        .custom-option.selected {
            color: #303531;
            background-color: #DADADA;
       }

       .arrow {
        position: relative;
        height: 15px;
        width: 15px;
   }
    .arrow::before, .arrow::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0.15rem;
        height: 100%;
        transition: all 0.5s;
   }
    .arrow::before {
        left: -5px;
        transform: rotate(45deg);
        background-color: #BCC1BC;
   }
    .arrow::after {
        left: 5px;
        transform: rotate(-45deg);
        background-color: #BCC1BC;
   }
    .open .arrow::before {
        left: -5px;
        transform: rotate(-45deg);
   }
    .open .arrow::after {
        left: 5px;
        transform: rotate(45deg);
   }
       

        /* GIFT CARD */

        .gift-card {
            background-color: #F6F6F6;
            width: 973px;
            height: 426px;
            margin-top: 150px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-end;
            
        }

        .gift-text {
            width: 465px;
            height: fit-content;
            z-index: 50;
        }

        .gift-text a {
            text-decoration: none;
        }

        .gift-card p {
            width: 354px;
            margin-bottom: 55px;
        }

        .gift-images img {
            height: 370px;
            margin-bottom:-4px;
        }

        .arrow-button .shop-button-text {
            width: fit-content;
        }

        .gift-card-img {
            position: absolute;
            width: 212px;
            height: 131px;
            border-radius: 9px;
            transform: rotate(-12deg);
            margin: 0 -190px 40px 0;
            box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
        }



        /* DELIVERY CONTENT */

        .delivery-content {
            width: 973px;
            height: 426px;
            margin-top: 150px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }

        .delivery-text {
            width: 465px;
            height: fit-content;
            z-index: 50;
            margin: 45px 0 0 40px;
        }

        .delivery-text p {
            margin-bottom: 55px;
            width: 296px;
        }

        .delivery-text a {
            text-decoration: none;
        }

        .delivery-content img {
            height: 480px;
        }

        .arrow-button .delivery-button-text {
            width: fit-content;
        }

        /* INSTRAGRAM POSTS */

        .insta-container {
            width: 973px;
            height: fit-content;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 180px;
            row-gap: 8px;
        }

        .followlink {
            position: absolute;
            width: 973px;
            margin-top: -45px;
        }

        .followlink a {
            text-decoration: none;
        }

        .insta-box {
            height: 237px;
            width: 237px;
        }

        .insta-box img {
            max-height: 238px;
            max-width: 238px;
        }

        .insta-box a {
            text-decoration: none;
            margin:0;
        }
        
        .post-info {
            background-color: #30353180;
            transform: translate(0, -101.9%);
            position: absolute;
            width:100%;
            width: 238px;
            height: 238px;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
        }

     
        .post-info p {
            color: white;
            margin-left: 10px;
        }

        .post-text1 {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-right: 20px;
        }

        .post-text2 {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        #bubble {
            height: 22px;
            width: 22px;
        }

        #heart {
            height: 22px;
            width: 25px;
        }

        .insta-box:hover .post-info {
            visibility: visible;
        }

/* FOOTER */

footer {
    width: 100%;
    height: 309px;
    background-color: #F6F6F6;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-text {
    width: 973px;
    padding-top: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 8px;
}

.info {
    width: 933px;
    display:  flex;
    flex-flow: row wrap;
}

.info h4 {
    width: 880px;
    margin-bottom: 15px;
}

.info p {
    margin: 0 70px 20px 0;
}

.copyright {
    width: 973px;
    height: 60px;
    padding-top: 15px;
    border-top-style: solid;
    border-top-color: #BCC1BC;
    border-top-width: 1px;
}



.insta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1E5CD;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-top: -3px;
}

.insta-button:hover {
    animation-name: hover;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.insta-button svg {
    fill:#303531;
    height: 17px;
}


/* DELIVERY PAGE */


.delivery-main {
        width: 100%;
        background-color: #F6F6F6;
        height: 700px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

}

.delivery-main-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 80%;
    height: 553px;
    margin: 0;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-color: #BCC1BC;
}

.header-img {
    background-color: #D1E5CD;
    width: 362px;
    height: 469px;
}

.header-img img {
    position: absolute;
    margin: 70px;
    width: 350px;
    height: 480px;
}

.header-text {
    width: 415px;
    height: 480px;
    margin-top: 64px;
}

.header-text p {
    margin-bottom: 40px;
}


/* CONTACT PAGE */

.contact-main {
    width: 100%;
    background-color: #F6F6F6;
    height: 700px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.contact-main-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 80%;
    height: 553px;
    margin: 0;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-color: #BCC1BC;
}

.header-img-contact {
    background-color: #D1E5CD;
    margin: 0 0 0 60px;
    width: 454px;
    height: 400px;
}
.header-img-contact img {
    position: absolute;
    width: 454px;
    margin: 91px 0 0 -60px;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

.contact-cell {
    margin: 90px 90px 0 0;
    width: 330px;
    height: 379px;
}

.contact-cell p {
    margin: 10px 0 20px 0;
}

.contact-cell img {
    margin-bottom: 20px;
}

    /* RESIZE */
@media only screen and (max-width: 1400px) {
       
        ul {
            position: fixed;
            display: flex;
            flex-flow: column wrap;
            left: -100%;
            top: 65px;
            background-color: #fff;
            width: 100%;
            /* border-radius: 10px; */
            text-align: center;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        }

        ul.active {
            left: 0;
        }

        li {
            border-bottom: solid;
            border-color: #F6F6F6;
            border-width: 1px;

        }

        li .active {
            border: hidden;
        }
    
        li a:hover {
            background-color: #F6F6F6;
            transition: 0.3s;
            cursor: pointer;
            border: hidden;
          }

        .hamburger {
            display: block;
            cursor: pointer;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
        }

        .main-img, .main-img img {
            display: none;
        }    
 }

 @media only screen and (max-width: 800px) {
    main {
        display: none;
    }

    .category-container {
        width: fit-content;
        margin-top: 100px;
        display: flex;
        flex-flow: column wrap;
    }

    .category-short-container {
        margin: 20px 0 0 0;
    }



 }